.div{
    position: relative;
}

.div2{
    position: absolute;
    left: 10%;
}

.button{
    margin-right: 20px;
    min-height: 45px;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    color: #fff;
    background-color: #00b4d8;
    box-shadow: #023e8a  0px 1px 3px;
    font-weight: 800;
    cursor: pointer;
}

.button:active {
    transform: translateY(2px);
}

.select{
    height: 45px;
    width: 20%;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    margin-right: 2px;
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
    background-color: #00b4d8;
    box-shadow: #023e8a  0px 1px 3px;
  }
  
.select:focus{
    border: 2px solid #ade8f4;
    outline: none;
}
